<template-header [active]="'chat'" class="top"></template-header>
<div class="above">
  <div class="row no-gutters">
    <div class="col-sm-8 p-3">
      <div class="chatbox chatbox-left">
        <div class="line">
          <img src="/assets/img/richard.jpg" />
          <p class="colored">
            To take a trivial example
          </p>
          <p class="date">
            12:51
          </p>
        </div>
      </div>
      <div class="chatbox chatbox-left">
        <div class="line">
          <img src="/assets/img/richard.jpg" />
          <p class="colored">
            To take a trivial example<br />
            lol again...
          </p>
          <p class="date">
            12:51
          </p>
        </div>
      </div>
      <div class="chatbox chatbox-left">
        <div class="line">
          <img src="/assets/img/richard.jpg" />
          <p class="colored">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
          <p class="date">
            12:52
          </p>
        </div>
      </div>
      <div class="chatbox chatbox-right">
        <div class="line">
          <img src="/assets/img/erlich.jpg" />
          <p class="colored">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
          <p class="date">
            12:52
          </p>
        </div>
      </div>
      <div class="chatbox chatbox-right">
        <div class="line">
          <img src="/assets/img/erlich.jpg" />
          <p class="colored">
            Arsehole!
          </p>
          <p class="date">
            12:57
          </p>
        </div>
      </div>
      <div class="text-box">
        <form>
          <div class="form-group">
            <textarea class="form-control"></textarea>
            <button type="submit" class="btn btn-warning">Reply</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm-4 right">
      <div class="header">
        <h3>Messages</h3>
        <p class="actions">
          <i class="fa fa-fw fa-pencil-square-o"></i>
        </p>
      </div>
      <div class="loading-headers" *ngIf="!chats">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
        <span class="sr-only">Loading...</span>
      </div>
      <div *ngIf="chats">
        <div class="people-card people-active">
          <p class="image">
            <img src="/assets/img/richard.jpg" />
          </p>
          <h3>Invitation</h3>
          <p class="subtext">
            I'd like to join your trade network
          </p>
        </div>
        <div class="people-card">
          <p class="image">
            <img src="/assets/img/gilfoyle.jpg" />
          </p>
          <h3>Not interested</h3>
          <p class="subtext">
            Your job proposal is bad.
          </p>
        </div>
        <div class="people-card">
          <p class="image">
            <img src="/assets/img/gilfoyle.jpg" />
          </p>
          <h3>Invitation</h3>
          <p class="subtext">
            I'd like to join your trade network
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
