<template-header [active]="'chat'" class="top">
  <div class="chat row no-gutters">
    <!-- LEFT PANEL -->
    <div class="col-sm-8 p-3 left">
      <div *ngIf="!current">
        <p class="chat-header">
          No chat available for the moment.
        </p>
      </div>
      <div class="scroll" #scrollable>
        <div class="chat-top" *ngIf="current">
          <p>
            <img [src]="current.user1.picture" *ngIf="!isOwner(current.user1._id)" />
            <img [src]="current.user2.picture" *ngIf="!isOwner(current.user2._id)" />
            <span *ngIf="!isOwner(current.user1._id)">{{current.user1.name}}</span>
            <span *ngIf="!isOwner(current.user2._id)">{{current.user2.name}}</span>
            <span *ngIf="current.title">&ndash;</span>
            {{current.title}}
          </p>
        </div>
        <div class="chat-content" *ngIf="current">
          <div *ngFor="let message of current.messages"
            class="chatbox"
            [ngClass]="{ 'chatbox-left': !isOwner(message.user), 'chatbox-right': isOwner(message.user)}">
            <div class="line">
              <img [src]="current.user1.picture" *ngIf="!isOwner(message.user) && !isOwner(current.user1._id)"/>
              <img [src]="current.user2.picture" *ngIf="!isOwner(message.user) && !isOwner(current.user2._id)"/>
              <img [src]="profile.picture" *ngIf="isOwner(message.user)" />
              <p class="colored" [innerHTML]="message.text"></p>
              <p class="date">{{message.date | date:'shortTime'}}</p>
            </div>
          </div>
        </div>
        <div class="text-box">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <textarea class="form-control" formControlName="content" (keydown)="onKeySubmitted($event)" (keyup)="onClear()"></textarea>
              <button type="submit" class="btn btn-warning">Reply</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- RIGHT PANEL -->
    <div class="col-sm-4 right">
      <div class="header">
        <h3>Messages</h3>
        <p class="actions">
          <i class="fa fa-fw fa-pencil-square-o" (click)="addChat(chatModal)"></i>
        </p>
      </div>
      <div class="loading-headers" *ngIf="!chats && !noChat">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
        <span class="sr-only">Loading...</span>
      </div>
      <div class="loading-headers" *ngIf="!chats && noChat">
        <i class="fa fa-comments fa-2x fa-fw" (click)="addChat(chatModal)"></i>
      </div>
      <div *ngIf="chats">
        <div class="people-card" [ngClass]="{'people-active': active == chat._id}" *ngFor="let chat of chats" (click)="goToChat(chat._id)">
          <p class="image">
            <img [src]="chat.user1.picture" *ngIf="!isOwner(chat.user1._id)" />
            <img [src]="chat.user2.picture" *ngIf="!isOwner(chat.user2._id)" />
          </p>
          <p class="name" [ngClass]="{'unread': !chat.read}" [innerHTML]="chat.name"></p>
          <p class="subtext" [ngClass]="{'unread': !chat.read}" [innerHTML]="chat.title" *ngIf="chat.title"></p>
          <p class="subtext" [ngClass]="{'unread': !chat.read}" [innerHTML]="chat.subtext" *ngIf="chat.subtext"></p>
          <p class="last" *ngIf="chat.last">
            {{chat.last}}
          </p>{{chat.read}}
        </div>
      </div>
    </div>
  </div>
</template-header>

<ng-template #chatModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3>Create a new chat</h3>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input type="text" class="form-control form-control-lg"
      [ngbTypeahead]="queryNames"
      [inputFormatter]="formatter"
      [resultTemplate]="friend"
      (selectItem)="friendSelected($event)"
      placeholder="Find your friends">
  </div>
</ng-template>

<ng-template #friend let-r="result" let-t="term">
  {{ r.name }}
</ng-template>
