<template-header [active]="'chat'" class="top"></template-header>
<div class="above">
  <div class="row no-gutters">
    <div class="col-sm-8 p-3 left">
      <div *ngIf="!current">
        <p class="chat-header">
          No chat available for the moment.
        </p>
      </div>
      <div *ngIf="current" class="scroll">
        <div class="chatbox chatbox-{{message.user}}" *ngFor="let message of current.messages">
          <div class="line">
            <img [src]="current.image" *ngIf="message.user == 'left'"/>
            <img [src]="profile" *ngIf="message.user == 'right'" />
            <p class="colored" [innerHTML]="message.text"></p>
            <p class="date" [innerHTML]="message.time"></p>
          </div>
        </div>
        <div class="text-box">
          <form>
            <div class="form-group">
              <textarea class="form-control"></textarea>
              <button type="submit" class="btn btn-warning">Reply</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-4 right">
      <div class="header">
        <h3>Messages</h3>
        <p class="actions">
          <i class="fa fa-fw fa-pencil-square-o"></i>
        </p>
      </div>
      <div class="loading-headers" *ngIf="!chats">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
        <span class="sr-only">Loading...</span>
      </div>
      <div *ngIf="chats">
        <div class="people-card" [ngClass]="{'people-active': active == i}" *ngFor="let chat of chats; let i = index">
          <p class="image">
            <img [src]="chat.image" />
          </p>
          <p class="name" [innerHTML]="chat.name"></p>
          <p class="subtext" [innerHTML]="chat.title" *ngIf="chat.title"></p>
          <p class="subtext" [innerHTML]="chat.subtext" *ngIf="chat.subtext"></p>
          <p class="last" *ngIf="chat.last">
            {{chat.last}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
