<div class="wrapper">
  <div class="container d-flex align-items-center">
    <div class="row justify-content-center bg-white">
      <div class="col-sm-8 my-5">
        <h1 class="text-center">
          {{ value }} to
          <span class="skilful-buddies">Skilful Buddies</span>
        </h1>
        <div class="row my-3 no-gutters">
          <div class="col-sm-6 p-1">
            <button class="w-100 btn btn-secondary disabled text-white">
              <i class="fa fa-fw fa-lg fa-google-plus" aria-hidden="true"></i>
              {{ value }} with Google
            </button>
          </div>

          <div class="col-sm-6 p-1">
            <button class="w-100 btn bg-facebook text-white" (click)="facebookLogin()">
              <i class="fa fa-fw fa-lg fa-facebook" aria-hidden="true"></i>
              {{ value }} with facebook
            </button>
          </div>

          <div class="col-sm-6 p-1">
            <button class="w-100 btn btn-secondary disabled text-white">
              <i class="fa fa-fw fa-lg fa-twitter" aria-hidden="true"></i>
              {{ value }} with twitter
            </button>
          </div>

          <div class="col-sm-6 p-1">
            <button class="w-100 btn btn-secondary disabled text-white">
              <i class="fa fa-fw fa-lg fa-linkedin" aria-hidden="true"></i>
              {{ value }} with LinkedIn
            </button>
          </div>
        </div>
        <p class="text-muted text-justify">
          <span *ngIf="value == 'Sign in'">
            Not registered? <a [routerLink]="['/sign-up']">Sign up</a> to Skilful Buddies.
          </span>
          <span *ngIf="value == 'Sign up'">
            Already registered? <a [routerLink]="['/sign-in']"> Sign in</a>.
          </span>
          <br />
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
  </div>
</div>
