<template-header [active]="'profile'">
  <div class="container pt-3">
    <div class="header" *ngIf="profile">
      <div class="header-left">
        <div class="profile">
          <img [src]="profile.picture" />
        </div>
        <div class="map">
          <agm-map *ngIf="profile.place" [latitude]="profile.place.latitude" [longitude]="profile.place.longitude" [zoom]="14" [streetViewControl]="false" [zoomControl]="false" [mapTypeId]="'terrain'">
            <agm-snazzy-info-window [isOpen]="true" [latitude]="profile.place.latitude" [longitude]="profile.place.longitude" [closeOnMapClick]="false" [showCloseButton]="false" [backgroundColor]="'rgba(255,69,0,0.7)'" [borderRadius]="'10px'">
              <ng-template>
                <div class="text-center">
                  {{givenAddress}}
                </div>
                <button class="btn btn-link edit" (click)="openModal(addressModal)" *ngIf="editable">
                  <a class="fa fa-pencil" aria-hidden="true"></a>
                </button>
              </ng-template>
            </agm-snazzy-info-window>
          </agm-map>
        </div>
        <div class="under">
          <div class="under-left">
            <h1 [innerHTML]="profile.name" *ngIf="!editable"></h1>
            <h1 *ngIf="editable">
              <inline-editor type="text" [(ngModel)]="profile.name" (onSave)="editField('name', $event)" name="editName" size="40"></inline-editor>
            </h1>
            <p class="text-muted">
              <span class="mr-1" *ngIf="!editable">
                <i class="fa fa-fw fa-heartbeat" aria-hidden="true"></i>
                {{profile.age | age}}
              </span>
              <span class="mr-1" *ngIf="editable">
                <i class="fa fa-fw fa-heartbeat" aria-hidden="true"></i>
                <inline-editor type="text" [(ngModel)]="profile.age" (onSave)="editField('age', $event)" name="editAge" placeholder="age" size="4"></inline-editor>
                years old
              </span>
              <span class="ml-1" *ngIf="!editable && !profile.citizenship">
                <i class="fa fa-fw fa-globe" aria-hidden="true"></i>
                N/A
              </span>
              <span class="ml-1" *ngIf="!editable && profile.citizenship">
                <i class="fa fa-fw fa-globe" aria-hidden="true"></i>
                {{profile.citizenship}}
              </span>
              <span class="ml-1" *ngIf="editable">
                <i class="fa fa-fw fa-globe" aria-hidden="true"></i>
                <inline-editor type="text" [(ngModel)]="profile.citizenship" (onSave)="editField('citizenship', $event)" name="editCitizenship" placeholder="citizenship" size="30"></inline-editor>
              </span>
            </p>
          </div>
          <div class="buttons" *ngIf="editable">
            <button class="btn btn-light" (click)="openModalSkill(editSkill)">
              <i class="fa fa-fw fa-certificate"></i>
              add skill
            </button>
            <button class="btn btn-light" (click)="openModal(editTrade)">
              <i class="fa fa-fw fa-balance-scale"></i>
              add trade
            </button>
          </div>
          <div class="under-right">
            <span class="orangered">12</span><br />
            trades
          </div>
        </div>
      </div>
      <div class="header-right">
        <div class="head" *ngFor="let friend of profile.friends">
          <a [routerLink]="['/profile', friend._id]">
            <img [src]="friend.picture" />
          </a>
        </div>
        <div class="head head-orangered" *ngIf="profile.friends.length != 1">
          <span>{{profile.friends.length}}</span><br />
          Friends
        </div>
        <div class="head head-orangered" *ngIf="profile.friends.length == 1">
          <span>{{profile.friends.length}}</span><br />
          Friend
        </div>
      </div>
    </div>

    <div class="row mt-1" *ngIf="profile">
      <div class="col-sm-6 my-3" *ngFor="let skill of profile.skills; let i = index">
        <template-card-skill [skill]="skill" [editable]="editable" (onEdit)="openModalSkill(editSkill, skill, i)"></template-card-skill>
      </div>
      <div class="col-sm-6 my-3" *ngFor="let trade of profile.trades">
        <template-card-trade [trade]="trade"></template-card-trade>
      </div>
    </div>
  </div>
</template-header>

<ng-template #addressModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Fill in your address</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input type="text" class="form-control" [(ngModel)]="profile.place.address" (change)="editAddress(profile.place.address, addressModal)" />
    <p class="text-muted text-center mt-1">
      Your address will never be shown to the public. People will only the city you're in.
    </p>
  </div>
</ng-template>

<ng-template #editSkill let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 *ngIf="!skillEdit">Add a new skill</h3>
    <h3 *ngIf="skillEdit">Edition of {{skillForm.controls['name'].value}}</h3>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="skillForm" (ngSubmit)="onSubmitSkill()">
      <div class="form-group">
        <input type="text" class="form-control"
          placeholder="name of the skill"
          formControlName="name">
      </div>
      <div class="form-group">
        <textarea class="form-control"
          placeholder="Fill in a description of your skill..."
          rows="5"
          formControlName="content">
        </textarea>
      </div>
      <p class="text-muted text-center">
        You can event write the description with
        <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markup</a>.
      </p>
      <div class="form-group row">
        <div class="col text-right">
          <button type="cancel" class="btn btn-secondary pointer" (click)="d()">
            <i class="fa fa-undo" aria-hidden="true"></i>
            Cancel
          </button>
          <button type="submit" class="btn btn-warning pointer" *ngIf="!skillEdit">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Add
          </button>
          <button type="submit" class="btn btn-warning pointer" *ngIf="skillEdit">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            Update
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer" *ngIf="skillEdit">
    <span class="text-muted w-100 text-left">
      Is this skill no longer yours?
    </span>
    <button class="btn btn-danger pointer" (click)="removeSkill()">
      <i class="fa fa-trash" aria-hidden="true"></i>
      Delete
    </button>
  </div>
</ng-template>

<ng-template #editTrade let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3>Add a new trade</h3>
  </div>
  <div class="modal-body">

  </div>
</ng-template>
