.top {
  position: fixed;
  width: 100vw;
  z-index: 1000;
}

.container {
  min-height: 100%;
}

.header {
  position: relative;
  box-shadow: 0 0 8px rgba(0,0,0,0.4);
  border-radius: 5px;
  .orangered {
    font-size: 2em;
    font-weight: bold;
    color: orangered;
  }
}

.header-left {
  width: 100%;
  padding-right: 273px;
  position: relative;
  .profile {
    border-right: solid 1px white;
    position: absolute;
    top: 0;
    left: 0;
    img {
      height: 182px;
      width: 182px;
      border-top-left-radius: 5px;
    }
  }
  .map {
    width: 100%;
    height: 182px;
    padding-left: 183px;
    border-right: solid 1px white;
    color: white;
    agm-map {
      width: 100%;
      height: 100%;
    }
  }
  .under {
    position: relative;
    background-color: white;
    border-bottom-left-radius: 5px;
    h1 {
      font-size: 1.5em;
      line-height: 2;
    }
    .under-left {
      width: 100%;
      padding-right: 201px;
      height: 90px;
      padding: 5px;
      border-bottom-left-radius: 5px;
      .fa-heartbeat,
      .fa-globe {
        color: orangered;
      }
    }
    .under-right {
      position: absolute;
      top: 0;
      right: 0;
      height: 90px;
      width: 150px;
      background-color: rgb(250,250,250);
      border-left: solid 2px rgb(245,245,245);
      text-align: center;
    }
    .buttons {
      position: absolute;
      top: 3px;
      right: 155px;
      button {
        display: block;
        width: 130px;
        margin: 3px;
        text-align: left;
        cursor: pointer;
        .fa {
          color: orangered;
        }
      }
    }
  }
}

.header-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 273px;
  height: 273px;
  .head {
    float: left;
    border-right: solid 1px white;
    border-bottom: solid 1px white;
    text-align: center;
    img {
      height: 90px;
    }
  }
  .head-orangered {
    background-color: orangered;
    color: white;
    height: 91px;
    width: 91px;
    span {
      font-size: 2em;
      font-weight: bold;
    }
  }
}

.edit {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  cursor: pointer;
}

.edit:hover {
  color: grey;
}
