<header>
  <h1 class="title">Skill Buddies</h1>
  <div class="pinned-right">
    <span class="block">
      <a [routerLink]="['/']">
        <i class="fa fa-fw fa-lg fa-user" aria-hidden="true"></i>
        <i class="fa fa-fw fa-lg fa-bell" aria-hidden="true"></i>
        <i class="fa fa-fw fa-lg fa-comments" aria-hidden="true"></i>
      </a>
    </span>
    <span class="block">
      <a [routerLink]="['/']" class="icon">
        Richard Hendricks
        <img src="/assets/img/richard.jpg" />
      </a>
    </span>
  </div>
  <div class="underline">
    <ul>
      <li class="active">
        <a [routerLink]="['/']">Search</a>
      </li>
      <li>
        <a [routerLink]="['/']">Connect</a>
      </li>
      <li>
        <a [routerLink]="['/']">Trade</a>
      </li>
    </ul>
  </div>
</header>
