<header>
  <h1 class="title skilful-buddies">Skill Buddies</h1>
  <div class="pinned-right">
    <span class="block">
      <template-notification [type]="'user'" [notifications]="getUsersNotifications()"></template-notification>
      <template-notification [type]="'bell'" [notifications]="getAlertNotifications()"></template-notification>
      <template-notification [type]="'comments'" [notifications]="getCommentsNotifications()"></template-notification>
    </span>
    <span class="block">
      <div ngbDropdown class="d-inline-block">
        <button class="no-btn" id="profileLink" ngbDropdownToggle>
          {{profile.name}}
          <img [src]="profile.picture" />
        </button>
        <div ngbDropdownMenu aria-labelledby="profileLink">
          <button class="dropdown-item">
            <i class="fa fa-fw fa-cog" aria-hidden="true"></i>
            Action 1
          </button>
          <button class="dropdown-item" (click)="logout()">
            <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i>
            Sign out
          </button>
        </div>
      </div>

    </span>
  </div>
  <div class="underline">
    <ul>
      <li [ngClass]="{'active': active == 'search'}">
        <a [routerLink]="['/search']">Search</a>
      </li>
      <li [ngClass]="{'active': active == 'connect'}">
        <a [routerLink]="['/connect']">Connect</a>
      </li>
      <li [ngClass]="{'active': active == 'trade'}">
        <a [routerLink]="['/trade']">Trade</a>
      </li>
    </ul>
  </div>
</header>
